<!-- <p>timer works!</p>

Counter: {{ counter }}
<input type="button" value="increment" (click)="start()" /> 

<h1>TEMPORIZADOR TABATA</h1>

<button id="ver">Iniciar</button>

<span style="display: none" id="temporizador1">0s</span>

<div>
  <span>Ciclo:</span>
  <span id="ciclo">0</span>
</div>

<script src="index.ts"></script>

<p id="demo"></p> -->

<div>
  <h1 id="app"></h1>
</div>
<hr />
<h2>Action</h2>
<div id="app-action">-</div>
<h2>Time</h2>
<div id="app-time">-</div>
<h2>Round</h2>
<div id="app-round">-</div>

<input type="button" value="iniciar" (click)="start()" />
<!-- <input type="button" value="pausar" (click)="pause()" /> -->
<input type="button" value="parar" (click)="stop()" />
